html {
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
  }

  h1 {
      color:darkgray;
      text-shadow: 12px 18px 10px #b4b4b4;
      letter-spacing: -0.02em;
      text-indent: 0rem;
      font-family: 'League Script', cursive; 
      font-size: 80pt;
}

.samplerecipe{
  background-color: rgb(255, 246, 246);
  width: 900px;
  border: 5px solid pink;
  padding: 50px;
  margin: 100px;
}

.samplerecipe2{
    background-color: rgb(233, 241, 255);
    width: 900px;
    border: 5px solid rgb(208, 198, 251);
    padding: 50px;
    margin: 100px;
}

  
main    {
    background-color: #FFFFFF;
    padding: 45pt;
    border: 5px dashed rgb(255, 211, 211); /* width, style, colour */
}

p{
    font-family: 'Inconsolata', monospace;
    font-size:6px;
}



body {
     margin: 15%;
}

p {
    font-size: 24pt;
    line-height: 1.4;
}

h2{
    font-family: 'League Script', cursive; 
    font-size: 24pt;
}
