

.content{
    font-family: 'Archivo Narrow', sans-serif;
    width:960px;
    margin:auto;
}

header{
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    background-image:url("https://images.unsplash.com/photo-1569864358642-9d1684040f43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-position: center 20%;
}

header .content{
    padding: 99px 0 148px 0;
}

header h1{
    font-size: 80px;
    margin-bottom: -13%;
}

header h2{
    font-size: 30px;
    padding: 96px 0 148px 0;
    margin-bottom: -12%;
}


section .content{
    padding: 9px 0 0 0;
}

.sectiontitle{
    font-size: 40px;
}

.section2title{
    font-size: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    padding: 8px 0 0 0;
}

h1{
    text-align: center;
}

.firstpicture{
   float: right;
   width: 400px;
   height: 300px;
   object-fit: cover;
   object-position: right;
   padding: 0px 0px 33px 45px;
}

.firstp{
    font-size: 18px;
    padding: 0 0 10px 0;
}

.s1{
    background-color: azure;
    padding: 0 0 8px 0;
} 

.s2{
    background-color: yellowgreen;
    padding: 1px 0 72px 0;
} 

.s3{
    background-color: pink;
    padding: 1px 0 72px 0;
} 


.phototext{
    font-family: 'Archivo Narrow', sans-serif;
}

.text{
    font-family: 'Archivo Narrow', sans-serif;
    font-size:17px;
}

.grid-items{
  margin: 0 auto;
  max-width:1000px;
  display: grid;
  grid-template-columns: 194px 233px 194px 210px;
  column-gap: 28px;
  row-gap: 0px;
  margin-bottom: 46px;
}


ul{
    list-style: none;
}

.section3title{
    font-size: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    padding: 8px 0 0px 0;
}

.secondp{
    font-size: 26px;
    margin-left: 21%;
    margin-right: 24%;
    word-spacing: 3px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
}

.cpr{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 19px;
    margin-left: 14%;
    padding: 21px 0 0 0;
}

.s4{
    background-color: gray;
    padding: 1px 0 72px 0;
} 
